<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD .//EM"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="connection.url">jdbc:mysql://localhost:3306/meusrecibos</property>
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.username">root</property>
		<property name="connection.password">root</property>
		<property name="dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>

		<property name="hbm2ddl.auto">update</property>
		<property name="show_sql">false</property>
		<property name="format_sql">true</property>
		
		<mapping class="br.alexandre.model.Empresa"/>
		<mapping class="br.alexandre.model.Usuario"/>
		<mapping class="br.alexandre.model.Unidade"/>
		<mapping class="br.alexandre.model.PontoDeAtendimento"/>
		<mapping class="br.alexandre.model.Fila"/>
	</session-factory>
</hibernate-configuration>